//ADD OPTION ERROR
.add-option-error {
  color: $off-white;
  font-style: italic;
  margin: $m-size;
  padding: 0 $m-size;
}

//ADD OPTION
.add-option {
  display: flex;
  padding: $m-size;
}

.add-option__input {
  background: $dark-blue;
  border: none;
  border-bottom: 0.3rem solid darken($dark-blue, 10%);
  color: $off-white;
  flex-grow: 1;
  margin-right: $s-size;
  padding: $s-size;
}
