.box-layout {
  align-items: center;
  // background: url("/images/bg.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out(white, 0.2);
  border-radius: 5px;
  color: $dark-grey;
  padding: $l-size $m-size;
  margin-left: 4%;
  text-align: center;
  width: rem;
}
