@import "../../containers/App/styles/variables.scss";
:local(.styles) {
  .tabs {
    position: relative;
    z-index: 10000;
    margin-top: -18px;
  }

  .tabs > div:first-child {
    margin-top: 6rem;
    border-radius: 5px;
    height: 9rem;
    background-color: $darkGrey !important;
    button {
      color: $lightBlue !important;
    }
  }

  .tabs div:nth-child(2) div {
    background-color: $lightBlue !important;
  }
}
