// COLORS
$baby-blue: #1c88bf;
$blackish: #212121;
$blue: #3c4251;
$grey: #666;
$button-blue: #0098ea;
$dark-blue: #333745;
$light-blue: #464b5e;
$off-black: #20222b;
$off-white: #a5afd7;
$whitish: #f7f7f7;
$purple: #0098ea;
$title-blue: #0096ef;
$dark-grey: #333;

//FONT SIZE
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//SPACING
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
